---
import Layout from '../layouts/Layout.astro';

/* Components */
import SocialPill from '../components/SocialPill.astro';
import Experience from '../components/experience-components/Experience.astro';
import Projects from '../components/projects-components/Projects.astro';
import SectionContainer from '../components/section-components/SectionContainer.astro';
import SectionTitle from '../components/section-components/SectionTitle.astro';
import AvailabilityCssBox from '../components/AvailabilityCssBox.astro';
import TypingText from '../components/TypingText.astro';

/* Icons */
import LinkedIn from '../components/icons/LinkedIn.astro';
import GitHub from '../components/icons/GitHub.astro';
import Mail from '../components/icons/Mail.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import Code from '../components/icons/Code.astro';
import Person from '../components/icons/Person.astro';
import AboutMe from '../components/AboutMe.astro';
import Education from '../components/icons/Education.astro';
---

<Layout 
	title="Portfolio de Pedro M. Carrascoso - Desarrollador y programador web PHP"
	description="Contrata a Pedro para formar parte de tu equipo de desarrollo web. Especializado en desarrollo web backend PHP con framework Laravel."
	>
	<main>
		<SectionContainer class="pt-44 pb-36">
			<div class="flex max-sm:flex-col items-center gap-7 mb-5">
				<img 
					class="rounded-full size-40 sm:size-24 object-cover"
					src="/images/profile_photo.webp" 
					alt="profile photo" />
				<AvailabilityCssBox />
			</div>				  
			<h1 class="text-4xl font-bold flex flex-row items-center max-sm:text-center gap-x-4 pb-4">
				Pedro Manuel Carrascoso Núñez
				<a 
					href="https://www.linkedin.com/in/pedromcarrascoso/" 
					target="_blank"
					rel="noopener noreferrer"
					class="flex jusity-center items-center">
				</a>
			</h1>
			<h2 class="text-2xl opacity-90 max-sm:text-center text-pretty mb-10">
				<span class="font-normal">+1 año de experiencia.</span> 
				<TypingText 
					class="font-semibold text-yellow-500/80 dark:text-yellow-400" 
					text="Desarrollador Web PHP Junior en Granada."
					speed="50"/>
				
			</h2>

			<nav class="flex gap-4 flex-wrap max-sm:justify-center">
				<SocialPill href="https://www.linkedin.com/in/pedromcarrascoso/">						
					<LinkedIn class="size-4" />
					LinkedIn
				</SocialPill>
				<SocialPill href="mailto:pedromanuelcarrascoso@gmail.com">
					<Mail class="size-[1.4rem]" />
					Mail
				</SocialPill>
				<SocialPill href="https://github.com/pedro-mcn-wd">						
					<GitHub class="size-4" />
					GitHub
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experience" class="pb-32">
			<SectionTitle>
				<Briefcase class="size-8 text-yellow-500/80 dark:text-yellow-400" />
				<TypingText speed="100" text="Experiencia laboral"/>
			</SectionTitle>
			<Experience typeExperience="workExperience" />
		</SectionContainer>

		<SectionContainer id="projects" class="pb-40">
			<SectionTitle>
				<Code class="size-9 text-orange-400" />
				<TypingText speed="100" text="Proyectos"/>
			</SectionTitle>
			<Projects />
		</SectionContainer>

		<SectionContainer id="education" class="pb-32">
			<SectionTitle>
				<Education class="size-10 text-blue-600/90 dark:text-blue-400/90" />
				<TypingText speed="100" text="Estudios"/>
			</SectionTitle>
			<Experience typeExperience="education" />
		</SectionContainer>

		<SectionContainer id="aboutMe" class="pb-24">
			<SectionTitle>
				<Person class="size-9 text-pink-500/90" />
				<TypingText speed="100" text="Sobre mí"/>
			</SectionTitle>
			<AboutMe />
		</SectionContainer>
	<main>
</Layout>

<script is:inline>
	document.addEventListener('DOMContentLoaded', () => {
		/** Typing text effect */
		const observerOptions = {
			root: null,
			threshold: 0.5
		};

		const observer = new IntersectionObserver((entries, observer) => {
			entries.forEach(entry => {
				if (entry.isIntersecting) {
					const textSpan = entry.target.querySelector('.textSpan');
					const cursorSpan = entry.target.querySelector('.cursorSpan');
					const textArr = Array.from(entry.target.dataset.text);
					const speed = parseInt(entry.target.dataset.speed);

					textArr.forEach((char, index) => {
						setTimeout(() => {
							textSpan.textContent += char;			
							index === textArr.length - 1 && cursorSpan.classList.add('blink');
						}, index * speed);
					});

					observer.unobserve(entry.target);
				}
			});
		}, observerOptions);

		const typeWriterCollect = document.querySelectorAll('.typewriter');

		typeWriterCollect.forEach(item => {		
			observer.observe(item);
		});

		/** Logic of collapsing info descriptions */
        document.querySelectorAll('.showExtraDescriptionButton').forEach(button => {
            button.addEventListener('click', (e) => {
                const container = e.target.parentElement.querySelector('.extraDescriptionContainer');
                
                document.querySelectorAll('.extraDescriptionContainer').forEach(otherContainer => {
                    if (otherContainer !== container && !otherContainer.classList.contains('max-h-0')) {
                        otherContainer.style.maxHeight = '0';
                        otherContainer.classList.add('max-h-0');
                        otherContainer.nextElementSibling.innerText = 'Ver más...';
                    }
                });

                if (container.classList.contains('max-h-0')) {
                    container.style.maxHeight = container.scrollHeight + 'px';
                    container.classList.remove('max-h-0');
                    button.innerText = 'Ver menos...';

                    setTimeout(() => {
                        const rect = container.getBoundingClientRect();
                        const viewportHeight = window.innerHeight;

                        if (rect.bottom > viewportHeight) {
                            const scrollOffset = rect.bottom - viewportHeight;
                            window.scrollBy({
                                top: scrollOffset + 100,
                                behavior: 'smooth'
                            });
                        }
                    }, 300);                    
                } else {
                    container.style.maxHeight = '0';
                    container.classList.add('max-h-0');
                    button.innerText = 'Ver más...';
                }
            });
        });
    });     
</script>
