<div class="
    w-fit py-3 px-5
    rounded-md border border-gray-500/20 bg-white/50 dark:bg-gray-800/50 
    shadow-[0_3px_10px_rgb(0,0,0,0.2)] backdrop-blur-md">
    <p class="font-semibold text-yellow-500">
        #disponibilidad <span class="font-semibold text-pink-600">&#123;</span>
    </p>

    <p>
        &emsp;&emsp;<span class="font-semibold text-blue-300">para-trabajar</span><span class="text-gray-400 ml-[2px]">:</span>
        <span class="font-semibold text-orange-400">inmediata</span> <span class="font-semibold text-blue-500">!important</span><span class="text-gray-400 ml-[2px]">;</span>
    </p>

    <p><span class="font-semibold text-pink-600">&#125;</span></p>				
</div>	