
---
    import LinkedIn from "./icons/LinkedIn.astro"
    import Mail from "./icons/Mail.astro"
    import GitHub from "./icons/GitHub.astro"
---

<footer class="w-full md:w-11/12 lg:w-5/6 xl:w-1/2 px-6 md:px-0 mx-auto">
    <div class="w-full mx-auto p-4 text-center md:py-8 sm:flex sm:items-center sm:justify-between">
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">
            © 2025 <a href="#" class="hover:underline">Pedro Manuel Carrascoso Núñez</a>. Todos los derechos reservados.
        </span>
        <ul class="flex flex-wrap justify-center items-center gap-x-6 mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
            <li>
                <a href="https://www.linkedin.com/in/pedromcarrascoso/" target="_blank">
                    <LinkedIn class="size-4" />
                </a>
            </li>
            <li>
                <a href="mailto:pedromanuelcarrascoso@gmail.com" target="_blank">
                    <Mail class="size-6" />
                </a>
            </li>
            <li>
                <a href="https://github.com/pedro-mcn-wd" target="_blank">
                    <GitHub class="size-[1.15rem]" />
                </a>
            </li>
        </ul>            
    </div>
</footer>




